<app-headline></app-headline>

<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let currentOrder of allOrders">
            <a routerLink="/futureOrders/{{currentOrder.id}}">
                <div class="card mb-4 shadow-sm">
                   
                    <app-date class="top" from="{{currentOrder.from}}" to="{{currentOrder.to}}"></app-date>

                    <div class="card-body">
                        <div class="circle-icon right">
                            <i class="material-icons md-48 icon">
                                location_on
                            </i>
                        </div>
                        <div class="left">
                            <div class="humanId">ID {{currentOrder.humanId}}</div>
                            <div class="client-name">{{currentOrder.client.name}}</div>
                            <div class="address">{{currentOrder.address.street}}&nbsp;{{currentOrder.address.number}},{{currentOrder.address.city}}</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>